#red{
    color: red;
}

#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}
#yellow{
    color: yellowgreen;
}
.color-tithle{
    font-weight: normal
}

img{
    height: 200px
}

img{
    width: 200px
}
